.venv
ruff.toml
__pycache__
nohup.out
progress.html
tex/main.aux
tex/main.out
tex/main.log
tex/main.toc
.knights_archers_zombies_v10/*/prediction_data_part*
.knights_archers_zombies_v10/*/prediction_test_data.xz
.knights_archers_zombies_v10/*/tempdir
