.venv
ruff.toml
__pycache__
nohup.out
progress.html
tex/main.aux
tex/main.out
tex/main.log
tex/main.toc
tex/main.bbl
tex/main.bbl-SAVE-ERROR
tex/main.bcf
tex/main.bcf-SAVE-ERROR
tex/main.blg
tex/main.dvi
tex/main.fdb_latexmk
tex/main.fls
tex/main.lof
tex/main.lot
tex/main.run.xml
tex/main-blx.bib
.*/*/prediction_data_part*
.*/*/prediction_test_data.xz
.*/*/tempdir
.*/*/*/run_*

